@import "variables";

.cart {
  position: absolute;
  cursor: auto;
  top: 56px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: $color-white;
  border: 1px solid rgba(0,0,0,0.2);
  border-top: none;
  box-shadow: 0px 3px 7.5px rgba(0,0,0,0.15);
  margin-right: 60px;
  right: 0;

  .cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 56px;
    padding: 5px;
    border-bottom: 1px solid $border-color;
    &.action {
      .empty {
        width: 100%;
        font-size: 16px;
        line-height: 35px;
        font-weight: normal;
      }
      .action-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;

        button {
          text-transform: uppercase;
          color: $color-white;
          padding: 10px 35px;
          margin-left: 15px;
          border: 1px solid $button-color;
          border-radius: 3px;
          box-shadow: 0px 1px 1.5px rgba(0,0,0,0.3) ;
          background-image: linear-gradient(0deg, $button-color 0%, $button-color-second 100%);

          &:hover {
            background-image: linear-gradient(0deg, $button-color 20%, $button-color-second 80%);
          }
        }
      }
    }

    &:hover:not(.action) {
      background-image: linear-gradient(180deg, $gradient-dark 9%, $gradient-light 99%);
      .item-remove {
        opacity: 1 !important;
      }
    }
    .item-image {
      display: inline-block;
      height: 100%;
    }

    .name-wrapper {
      width: 100%;
      padding: 0 10px;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .item-name {
        font-size: 16px;
      }

      .item-remove {
        opacity: 0;
        display: block;
        padding: 0;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .item-price {
      display: block;
      padding: 0 15px;
    }
  }
}
