@import "./variables";

html {
  height: 100%;
}

body {
  min-height: 100%;
  height: auto;
  margin: 0;
  font-family: "Source Sans Pro";
  color: $text-color;
}

button {
  cursor: pointer;
  background-color: transparent;
  font-family: "Source Sans Pro";
  color: $text-color;

  &:focus, &:hover {
    outline:none !important
  }
}

*,
:after,
:before {
  box-sizing: border-box;
}
