$color-white: #ffffff;
$color-black: #000000;
$color-grey: #404040;
$text-color: #262626;
$background-color: #c2c2c2;
$toolbar-color: #ededed;
$discount-color: #00905e;
$border-color: #e6e6e6;
$button-color: #793dc5;
$button-color-second: #b559e1;
